<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CryptoPad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CryptoPad.CryptoPad" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <CryptoPad.Properties.Settings>
            <setting name="WordWrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EditorFont" serializeAs="String">
                <value>Consolas, 12pt</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>530</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>720</value>
            </setting>
        </CryptoPad.Properties.Settings>
        <CryptoPad.CryptoPad>
            <setting name="TextWrap" serializeAs="String">
                <value>True</value>
            </setting>
        </CryptoPad.CryptoPad>
    </userSettings>
</configuration>
